.head{
    background-color:#D78C8D;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main{
    background-color: #eee;
    /* disp-flex justify一套 */
    display: flex; 
    justify-content: center;
    text-align: center;
    /* 內部的區塊往下排列 */
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
}

.box{
    background-color:#D78C8D;
    width: 280px;
    margin: 10px;
    /* display: inline-block; */
}
.box2{
    background-color:#D78C8D;
    width: 280px;
    margin: 10px;
    /* display: inline-block; */
    border-radius: 50%;
    height: 280px;
}

.box>img{
    width:200px;
    height: 220px;
    margin: 10px;
}

section{
    margin-bottom: 30px;
}

.main .box>div{
    height: 60px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main .box2>div{
    padding-top: 120px;
    height: 60px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}