body{
    margin: 0px;
    font-family:fantasy;
}

.head{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main{
    background-color: #eee;
    /* disp-flex justify一套 */
    display: flex; 
    justify-content: center;
    text-align: center;
    /* 內部的區塊往下排列 */
    flex-wrap: wrap;
}

.box{
    background-color: rgb(94, 224, 247);
    width: 280px;
    margin: 10px;
    /* display: inline-block; */
}

.box>img{
    width:100%;
}

/* css media query */
@media(max-width:1250px){
    /* 如果螢幕寬度小於1250px，套用這個區塊的設定 */
    .box{
        width: 45%;
    }
}

@media(max-width:500px){
    /* 如果螢幕寬度小於1250px，套用這個區塊的設定 */
    .box{
        width: 90%;
    }
    .head{
        font-size: 30px;
    }
}